---
---

@import "variables";
@import "bulma/bulma";

html {
  background-color: cadetblue;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  @include desktop {
    margin-top: 5%;
  }
}

.home__hero {
  align-items: center;
  display: flex;
  flex-direction: column;

  &_img {
    border-radius: 50%;
    height: 250px;
    margin: 30px 0;
  }

  @include desktop {
    &_img {
      height: 250px;
      margin: 0 0 30px 0;
    }
  }

  &_title {
    color: white;
    font-size: 100px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 50px;
    margin-top: 0;
  }

  &_title {
    font-size: 50px;
    margin-bottom: 10px;
  }

  &_body_wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  @include desktop {
    &_body_wrapper {
      max-width: 40%;
    }
  }

  &_body {
    color: white;
    font-size: 30px;
    margin: 20px 0;
  }

  @include desktop {
    &_body {
      font-size: 17px;
      margin: 10px 0;
    }
  }
}

.home__footer {
  align-items: center;
  display: flex;
  flex-direction: column;

  &_section {
    margin-bottom: 20px;
  }

  &_text {
    color: white;
    font-size: 30px;
    font-weight: 600;

    & > a {
      margin: 0 8px;

      & > i {
        display: inline;
      }
    }

    @include desktop {
      & > a {
        margin: 0 2px;
      }
    }
  }

  @include desktop {
    margin-top: 45px;

    &_section {
      display: flex;
    }

    &_text {
      color: white;
      font-size: 18px;
      font-weight: 600;
      margin: 10px;

      &:nth-child(1) {
        margin-bottom: 0;
      }
    }

  }

  &_link {
    color: white;
    text-decoration: none;

    &:hover {
      color: #ffcc00;
    }
  }
}

@include desktop {
  .home__footer {
    margin-top: 10px;
  }
}
